<style>
  .hd{text-shadow: 3px 3px 3px #ababab;}
  .alp{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding:8px;
  }
</style>
<%= render "devise/shared/error_messages", resource: resource %>
  <div class="container py-3 h-100 mt-5" ,style="border-radius: 1rem;">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-light text-black" style="border-radius:1rem">
            <div class="card-body px-5 pt-0 text-center alp"  style="border-radius:1rem" >
              <div class="md-5 mt-md-4">

                <h2 class="hd my-5">Forgot your password?</h2>
                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

                <div class="group mb-3">
                  <%= f.email_field :email,placeholder: "Enter Your Email", autofocus: true, autocomplete: "email",class:"mb-3 form-control mt-4" %>
                </div>

                <div class="actions">
                  <%= f.submit "Send me reset password instructions",class:"btn btn-primary mb-4 form-control" %>
                </div>
                <% end %>

                <div class="my-5">
                  <%= render "devise/shared/links" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>