<style>
  img.post-image{
    height:500px; 
    width:500px;
  }
  .post-image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
/*  .comments_section{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }*/
  .post_body{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
  .back_to_post_btn{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  img.post-image{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .card{
    border-radius: 10px;
  }
</style> 


<div class="container mt-4">
  <div class="card mb-5 post_body">
    <!-- <div class="container d-flex align-items-center"> -->
      <% if @post.postimage.url.present? %>
        <%= image_tag @post.postimage.url ,class:"post-image card-image-top align-items-center"%>
      <% end %>
    <!-- </div> -->
    <div class="card-body">
      <h5 class="card-title my-2" style="font-size: 42px;"><%= @post.title %></h5>
      <p class="card-text" style="font-size: 16px;font-family: 'Poppins';"><%= @post.body %></p>
    </div>
    <div class="d-flex justify-content-center">
      <% if current_user == @post.user %>
        <%= link_to "Edit this post", edit_post_path(@post),class:"btn btn-success my-3 mx-2 edit_btn" %> 
      <% end %>
      <%= link_to "Back to posts", posts_path,class:"btn btn-primary my-3 mx-2 back_to_post_btn" %>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <% if current_user == @post.user %>
        <%= button_to "Destroy this post", @post, method: :delete,class:"btn btn-danger mb-3 delete_btn" %>
      <% end %>
    </div>
  </div>
  <h3 style="color:#878686;" >Comments</h3>
  <!-- style="background:#dedad9" -->
  <div class="comments_section pb-1 mb-2" >
    <%= render 'comments/form',post: @post,comment: @post.comments.build,submit_label:"Reply" %>
    <% @comments.each do |comment| %>
      <%= render 'comments/comment',post: @post,comment: comment %>
    <% end %>
  </div>
</div>